@page
@model MyProj_L00177249.Pages.Admin.Appointments.CreateModel
@{
}
<form method="post">
	<h2>Create Appointment</h2>
	<div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="@Model.Appointment.AppDate">Appointment Date</label>
        <input asp-for="@Model.Appointment.AppDate" class="form-control" required />
        <span asp-validation-for="@Model.Appointment.AppDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Appointment.DoctorId">Doctor</label>
        <select asp-for="Appointment.DoctorId" asp-items="Model.DoctorList" class="form-select">
            <option value="">-- Select Doctor --</option>
        </select>
        <span asp-validation-for="Appointment.DoctorId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Appointment.PPS">Patient</label>
        <select asp-for="Appointment.PPS" asp-items="Model.PatientList" class="form-select">
            <option value="">-- Select Patient --</option>
        </select>
        <span asp-validation-for="Appointment.PPS" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Appointment.Notes">Notes</label>
        <input asp-for="Appointment.Notes" type="text" class="form-control" />
        <span asp-validation-for="Appointment.Notes" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to Appointments</a>

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}